@import url("https://fonts.googleapis.com/css?family=sans-serif:400,400i,700");
body {
  font-family: Roboto, sans-serif;
  margin: 10;
  /* height: 260vh; */
  display: grid;
  align-items: center;
  background-image: linear-gradient(to bottom, #96fbc4, #f9f586);
  margin-left: 3%;

  /* justify-items: center;  */
}

h1 {
  color: blue;
}

.rtcol1{
  margin-right: 250px;
}

.column1{
  display: flex ;
}

.profilepage{
  justify-content: center;
  align-items: center;
  margin-left: 500px;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-radius: 5%;
}

tr:hover {
  background-color: #31f565;
}

.ltcol1{
  margin-left: 50px;
}

.ltcol1 img {
  height: 250px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

video {
  margin-left: 32%;
  border-radius: 10%;
  margin-top: 5%;
}

#interests{
  text-decoration: underline;
}

#strengths{
  text-decoration: underline wavy;
}

.audio {
  color: purple;
  margin-left: 40%;
  margin-bottom: 4%;
}


li::marker {
  content: "-> ";
  font-size: 1em;
}

.contact{
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin-top: 5px;
}

.icons {
  display: inline;
  justify-content: center; 
}

.icons svg {
  transition: all 0.5s;
  margin-left: 5px;
  margin-top: 2px;
  /* margin-bottom: 5%; */
}

.icons svg:hover {
  transform: scale(1.5, 1.5);
}

.anchor-buttons {
  display: flex;
}

.anchor-buttons a {
  background-color: white;
  color: black;
  border-radius: 15px;
  transition: all 1s;
  margin: 10px 10px;
  margin-top: 10px;
  padding: 10px 10px;
}

.anchor-buttons a:hover {
  background-color: #3af29f;
  color: black;
  transform: scale(1.1, 1.1);
}

.inner-text > li::first-letter {
  font-weight: 700;
  font-size: larger;
  color: rgb(17, 228, 38);
}

.text::first-line {
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
}